#form label {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

body {
    background-image: url(pexels-alex-green-5699456.jpg);
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'PT Sans', sans-serif;
    /* font-weight: bold; */
}

form {
    background-color: white;
    opacity: 0.8;
    max-width: 530px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    border: solid 2px black;
    border-radius: 15px;
}
h1{
    font-family: 'Rubik Dirt', cursive;
    /* font-weight: lighter; */
}

#name,
#age,
#email {
    width: 90%;
}

.btn {
    height: 22px;
    padding-left: 105px;
    padding-right: 105px;
    border: 1px solid black;
    border-radius: 2px;
    font-weight: bold;
    background-color: rgba(112, 112, 112, 0.326);    
}
.btn:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
